:root{
  --casilla-default: #356F8B;
  --casilla-desactivada: #00aF7A;
  --casilla-container: #088395;
  --fondo: #447;
  --tamaño-casilla: 10em;
}

.casillas-container{
  margin: 0 auto;
  position: relative;
  display: grid;
  width: fit-content;
  place-content: center;
}

@media (max-width: 650px) {
  .botones{
    left: inherit;
    right: 0;
    bottom: 0;
  }
  .casillas-container{
    position: static;
  }
  :root{
    --tamaño-casilla: 8em;
  }
}

.casillas{
  background-color: var(--casilla-container);
  border-radius: 1em;
  padding: 1em 1em;
  margin-top: 0em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 40em;
  flex-wrap: wrap;
}

.mCasillas {
  width: calc(var(--tamaño-casilla) * 2.6);
}

.casilla{
  height: 2.6em;
  width: var(--tamaño-casilla);
  border-radius: 0.5em;
  font-size: 20px;
  color: #fff;
  border: none;
  margin: 0.2em 0.2em;
  background-color: var(--casilla-default);
}

.casillaA {
  background-color: var(--casilla-desactivada);
}

.casillaA:hover{
  background-color: #00bF8A ;
}

.haveNumber{
  background-color: #555;
  color: #fff;
}

.numeroRandom{
  color: #fff;
  margin: 3em auto;
  height: 4em;
  border-radius: 1em;
}

h2{
  margin: 0;
}

.gameOver{
  display: grid;
  place-content: center;
  margin: 0;
  font-size: 40px;
  height: 3em;
}

footer{
  display: block;
  position: fixed;
  bottom: 0;
  margin-left: 20px;
}